<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="GearVault Test Suite" verbose="2">

    <test name="Kiem Thu Dang Nhap">
        <classes>
            <class name="gearvault.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Kiem Thu San Pham">
        <classes>
            <class name="gearvault.tests.ProductTest"/>
        </classes>
    </test>

</suite>